*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

body{
    background-image: url(https://s1.ticketm.net/dam/a/5f4/e1fb3d9b-259b-424c-b52f-461389e835f4_1162511_TABLET_LANDSCAPE_LARGE_16_9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header .container{
    background-color: rgba(0, 0, 0, 0.637);
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

.container:hover{
    background-color: rgba(0, 0, 0, 0.952);
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    transition: 0.5s;
}

.container .logo{
    background-color: rgba(165, 42, 42, 0);
    width: 20%;
}

.container .content{
    background-color: rgba(10, 73, 65, 0);
    width: 40%;
    display: flex;
    margin-top: 10px;
    
}

.content li{
    list-style: none;
    display: inline-flex;

}

.content a{
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    margin-left: 30px;
    align-content: center;
    padding: 15px;
}

.content a:hover{
    border: 2px solid rgb(255, 174, 0);
    border-radius: 40px;
    transition: 0.1s;

}

.logo a{
    display: inline-flex;
    text-decoration: none;
    color: aliceblue;
    font-size: 50px;
    padding: 15px;
}

/* produtos */

main .container2{
    width: 100%;
    height: 800px;
    background-color: rgba(0, 247, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mostruario{
    background-color: rgba(0, 0, 0, 0.418);
    width: 500px;
    height: 500px;
    display: flex;
    text-align: center;
    border-radius: 5px;
}

.mostruario:hover{
    background-color: rgba(0, 0, 0, 0.418);
    transition: 0.2s;
    border-radius: 5px;
}


.mostruario img{
    height: 90%;
    width: 90%;
    margin: 25px;
}

.mostruario a{
    text-decoration: none;
    color: aliceblue;
}


/* nav */

.blogin{
    width: 100%;
    height: 800px;
    background-color: rgba(0, 247, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

footer{
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.726);
    display: flex;
    justify-content: center;
}

.termos{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.termos li{
    list-style: none;
    margin: 8px;
}

.termos a{
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}

.termos a:hover{
    text-decoration: underline;
    transition: 2s;
    text-align: center;
}






